<!DOCTYPE html>
<html>
<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6544274879973270",
    enable_page_level_ads: true
  });
</script>
<meta charset="utf-8" />
<title>フレマネ - Twitterのフレンズ管理ツール</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/bootstrap-social.css" />
<link rel="stylesheet" href="/css/font-awesome.css" />
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/sticky-footer-navbar.css" />
</head>

<body>
<nav class="navbar navbar-inverse">
<div class="container">
<div class="navbar-header">
<h1><a href="/" class="navbar-brand">フレマネ</a></h1>
</div>

<ul class="nav navbar-nav">
<li class="active"><a href="/manager">管理画面</a></li>
</ul>
</div>
</nav>

<section>
<div class="container">
<% if (typeof data !== "undefined") { %>
<table class="table table-striped table-condensed manager">
<thead>
<tr>
<th colspan="2">アカウント</th>
<th>プロフィール</th>
<th colspan="2">最近のツイート</th>
<th>フォロー</th>
</tr>
</thead>
<tbody><% data.forEach(function(elem) { %>
<tr class="limited-size-row">
<td><a href="https://twitter.com/<%= elem.account.screen_name %>">
<img src="<%= elem.account.profile_image_url %>" alt="@<%= elem.account.screen_name %>">
</a></td>
<td><span class="limited-size-cell"><a href="https://twitter.com/<%= elem.account.screen_name %>" class="no-hover">
<small class="text-muted">@<%= elem.account.screen_name %> <%- elem.account.protected ? '<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>' : '' %></small><br />
<%= elem.account.name %>
</a></span></td>
<td><span class="limited-size-cell"><%= elem.account.description %></span></td>
<td><span class="limited-size-cell"><%= elem.last_tweet.text %></span></td>
<td><%= elem.last_tweet.created_at %></td>
<td><form action="/unfollow" method="post">
<input type="hidden" name="screen_name" value="<%= elem.account.screen_name %>" />
<button class="btn btn-twitter"><%= elem.account.following ? '解除' : 'フォロー' %></button>
</form></td>
</tr>
<% }) %></tbody>
</table>
<% } else { %>
<div class="panel panel-danger">
<div class="panel-heading"><h1 class="panel-title"><%= message %></h1></div>
<p class="panel-body">Message: <%= reason %></p>
</div>
<% } %>
<div class="text-center">
<!-- admax -->
<script src="//adm.shinobi.jp/s/54e0265d5c407d6adf70d68dc8cf16e0"></script>
<!-- admax -->
</div>
</div>
</section>

<footer id="footer">
<div class="container">
<p class="text-muted">&copy; 2017 <a href="//twitter.com/nahcnuj">@nahcnuj</a></p>
</div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
